* {
    background-color: rgb(255, 237, 214);
}

h1,
h3 {
    text-align: center;
}

#menu {
    list-style-type: none;
}

.recipe-photo {
    display: block;
    width: 500px;
    height: auto;
    margin: auto;
}

.subtext {
    color: grey;
}